ul {
    list-style: none;
}

a{
    text-decoration: none;
}

p {
    max-width: 75%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    gap: 5vh;
}