.button {
    padding: 10px 10px;
    width:20%;
    cursor: pointer;
}

.link {
    background-color: rgb(236, 236, 236);
    width:20%;
    color: black;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border: 1px solid black;
    cursor: pointer;
}